{% extends 'base.html.twig' %}

{% block title 'Agence lorem ispum'%}

{% block body %}
	<div class="container-fluid text-light p-5">
		<div class="container p-5">
			<h1 class="display-4 text-center">Immo</h1>
{#			<img src="../images/logo.png" alt="img">#}
			<hr>
			<div class="text-center">
				<p>Immo est une agence indépendante, dynamique, conviviale qui est heureuse de vous proposer ses services.</p>
				<p>Notre conception de la relation est fondée sur la proximité et le conseil personnalisé au client. Un contact direct et privilégié, garant d’une prestation de qualité.</p>
				<p>Nous mettons toute notre expérience du métier d’agent immobilier pour vous accompagner dans l’ensemble de vos projets et besoins en immobilier ; achat, vente, location, fonds de commerce.</p>
			</div>

		</div>
	</div>

	<div class="container mt-4">
		<h2>Les derniers biens</h2>
		<div class="row flex mt-4">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('property.show', {id: property.id, slug: property.slug}) }}">{{property.title}}</a>
							</h5>
							<p class="card-text">{{property.city}}
								({{property.postalCode}})</p>
							<div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{property.formattedPrice}}
								€</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
